h2{
    text-align: center;
    font-family: Calibri, sans-serif;
    font-size: 26px;

    letter-spacing: 1px;
    background: linear-gradient(135deg, #56ab2f, #a8e063);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    color: transparent;

 }

 form{
     text-align: center;
 }
 header {
         display: flex;
         align-items: center;
         justify-content: space-between;
         background-color: #519A66;
         font-size: 20px;
         padding: 10px 20px;
     }

     nav a {
         margin-left: 15px;
         text-decoration: none;
         color:white;
         font-weight: bold;
     }

     body{
        background: linear-gradient(135deg, #1f4037, #99f2c8);
        margin: 0;
     }

     .login-container{
         width: 300px;
         margin: 100px auto;
         padding: 25px;
         border-radius: 12px;
         text-align: center;
         background: rgba(255, 255, 255, 0.2);
         backdrop-filter: blur(10px);
         -webkit-backdrop-filter: blur(10px);
         border: 1px solid rgba(255,255,255,0.3);

     }

     input{
         width: 90%;
         padding: 10px;
         border-radius: 6px;
         outline: none;
         border:none;
         background:rgba(255,255,255,0.3);
         margin: 12px 0;
     }

     input::placeholder{
         color: #eee;
     }

     button{
         width: 100%;
         padding: 10px 20px;
         color: black;
         border: none;
         border-radius: 8px;
         cursor: pointer;
         margin-top: 15px;
         

     }

 
     